$primary-color: #355b3e;
$secondary-color: #029664;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "Inter";
  background-color: $primary-color;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px auto;

  .card {
    display: flex;
    height: 714px;
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;

    .descriptions {
      width: 550px;
      padding: 40px 64px;

      .title {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 32px;
        font-weight: 600;
      }

      .paragraph {
        font-size: 24px;
        margin-top: 56px;
        font-weight: 600;
      }
      .text {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        color: #58745e;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 32px;

        .email {
          color: #2f3d4c;
          font-size: 16px;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .password {
          display: flex;
          flex-direction: column;
          gap: 8px;
          font-size: 16px;
          font-weight: 600;
        }
        label {
          display: block;
        }
        input {
          border-radius: 8px;
          border: 1px solid #b8d6bf;
          padding: 16px;
        }
        .ckeckbox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            text-decoration: underline;
          }
          .remember {
            display: flex;
            gap: 8px;
          }
        }
        .btn {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          button {
            border-radius: 8px;
            padding: 16px;
            width: 200px;
            border: 1px solid $secondary-color;
            font-size: 16px;
            font-weight: 600;
            &.login {
              background-color: $secondary-color;
              color: #fff;
            }
            &.sign-up {
              background-color: #fff;
              color: $secondary-color;
            }
          }
        }
      }
      .footer {
        display: flex;
        gap: 24px;
        margin-top: 56px;
        font-size: 16px;
        .first {
          color: #58745e;
        }
      }
    }
  }
}
